<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static  %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <title>NIMEC</title>
</head>
<body style="background-color:aquamarine">
    <nav class="navbar navbar-expand-lg bg-body-tertiary"  style="margin-top: 0; padding-top: 0;">
        <div class="container-fluid custom-02" style="height: 55px;">
            <a class="navbar-brand color-01" href="#">Viện trang thiết bị và công trình y tế</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ms-auto" id="navbarTogglerDemo01">
                <div class="ms-auto">
                    <button type="button" class="btn btn-outline-primary me-2 custom-01">Đăng ký</button>
                    <button type="button" class="btn btn-outline-primary custom-01">Đăng nhập</button>
                </div>
            </div>
        </div>
    </nav>

    <header>
        <h3 class="text-align-center">TRUNG TÂM</h3>
        <h3 class="text-align-center">ĐÀO TẠO THEO NHU CẦU XÃ HỘI</h3>
        <br>
        <div class="container text-center color-03" style="padding: 8px;">
            <div class="row row-cols-6">
                <div class="col custom-border d-flex justify-content-center align-items-center">
                    <div class="dropdown">
                        <button class="btn  " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Giới Thiệu
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="institute_introduction">Giới Thiệu Viện</a></li>
                          <li><a class="dropdown-item" href="functions_duties">Chức năng & Nhiệm vụ của Viện</a></li>
                          <li><a class="dropdown-item" href="institute_leadership">Đảng ủy - Lãnh đạo Viện</a></li>
                          <li><a class="dropdown-item" href="organizational_structure">Cơ cấu Tổ chức Viện</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col custom-border d-flex justify-content-center align-items-center">Đào Tạo</div>
                <div class="col custom-border d-flex justify-content-center align-items-center">Tin Tức</div>
                <div class="col custom-border d-flex justify-content-center align-items-center">Thư Viện</div>
                <div class="col custom-border d-flex justify-content-center align-items-center">Giảng Viên</div>
                <div class="col d-flex justify-content-center align-items-center">Tuyển Dụng</div>
            </div>
        </div>
    </header>

    <section>
        <br>
        <div class="container">
            <div class="text-center mb-5 mt-2">
                <div class=" d-inline-block font-weight03 font-size01 color-02 rectangle ">
                    LỊCH SỬ PHÁT TRIỂN
                </div>
            </div>
            <div style="text-align: justify;">
                <span style="font-weight: 700;">
                    Viện trang thiết bị và công trình y tế tiền thân là Viện nghiên cứu thiết kế tiêu chuẩn hóa trang thiết bị và công trình y tế trực thuộc Cục vật tư và xây dựng cơ bản, được thành lập ngày 21 tháng 4 năm 1982 theo Quyết định số 340/BYT-QĐ của Bộ trưởng Bộ Y tế. Viện Trang thiết bị và Công trình y tế là đơn vị nghiên cứu khoa học sự nghiệp trực thuộc Bộ Y tế
                </span>
                <li>
                    Ngày 08 tháng 01 năm 1991 Viện trang thiết bị và công trình y tế được chuyển là đơn vị trực thuộc Bộ Y tế theo quyết định 1010/QĐ-BYT
                </li> 
                <li>
                    Viện được chuyển đổi thành tổ chức khoa học công nghệ tự trang trải kinh phí theo Quyết định số 1926/QĐ-BYT ngày 30 tháng 5 năm 2008 của Bộ trưởng Bộ Y tế.
                </li>
                <li>
                    Đến ngày 04 tháng 12 năm 2013 Bộ Y tế quyết định chuyển đổi Viện Trang thiết bị và Công trình y tế là đơn vị nghiên cứu cơ bản, nghiên cứu chiến lược, chính sách, nghiên cứu xây dựng định mức kinh tế - kỹ thuật và nghiên cứu phát triển công nghệ trong lĩnh vực trang thiết bị và công trình y tế theo quyết định 4888/QĐ-Ttg của Bộ trưởng Bộ Y tế.
                </li>
                <li>
                    Viện được xác lập lại là đơn vị sự nghiệp công lập trực thuộc Bộ y tế thuộc thẩm quyền quyết định của Thủ tướng Chính phủ theo Quyết định 246/QĐ-Ttg ngày 12 tháng 02 năm 2014 của thủ tướng Chính phủ.
                </li>
                <li>
                    Và theo quyết định số 4886/QĐ-BYT ngày 24/11/2014 của Bộ trưởng Bộ y tế ban hành Quy chế tổ chức và hoạt động của Viện Trang thiết bị và Công trình y tế trực thuộc Bộ Y tế.
                </li>
                <li>
                    Hơn 30 năm kinh nghiệm với đội ngũ chuyên gia của nhiều chuyên ngành đặc thù được đào tạo trong và ngoài nước Viện đã đạt được rất nhiều thành tích:  Huân chương lao động hạng ba; Cờ thi đua của Thủ tướng Chính; Bằng khen của Thủ tướng chính phủ; Cúp vàng do Bộ Khoa học Công nghệ trao tặng; Cúp vàng của Tổng cục tiêu chuẩn đo lường chất lượng trao tặng; Cờ thi đua của Bộ Y tế; Bằng khen của Bộ trưởng Bộ Y tế và nhiều Bằng khen khác.
                </li>
                <div class="text-center">
                    <img class="bd-placeholder-img rounded" src="{% static 'images/introduce/introduce_1.png' %}" alt="Introduce Image" width="200" height="200">
                    <br>
                    Bộ trưởng Đỗ Nguyên Phương về thăm viện
                    <br><br>
                    <img class="bd-placeholder-img rounded" src="{% static 'images/introduce/introduce_2.png' %}" alt="Introduce Image" width="200" height="200">
                    <br>
                    Bộ trưởng Trần Thị Trung Chiến về thăm Viện
                    <br><br>
                    <img class="bd-placeholder-img rounded" src="{% static 'images/introduce/introduce_3.png' %}" alt="Introduce Image" width="200" height="200">
                    <br>
                    Bộ trưởng Nguyễn Quốc Triệu về thăm Viện
                </div>

                <div class="text-center">
                    <table class="custom-table">
                        <tr>
                            <td>
                                <p>THƯỞNG NHÀ NƯỚC TRAO TẶNG NĂM 2012</p>
                                <img class="bd-placeholder-img rounded" src="{% static 'images/reward/reward_1.png' %}" alt="reward Image" width="200" height="200">
                                <p>Huân chương lao động hạng ba</p>
                            </td>
                            <td>
                                <p>PHẦN THƯỞNG CHÍNH PHỦ TRAO TẶNG NĂM 2009</p> 
                                <img class="bd-placeholder-img rounded" src="{% static 'images/reward/reward_2.png' %}" alt="reward Image" width="200" height="200">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Logo Viện</p> 
                                <img class="bd-placeholder-img rounded" src="{% static 'images/reward/reward_3.png' %}" alt="reward Image" width="200" height="200">
                                
                            </td>
                            <td>
                                <p>Cúp vàng ISO 9001:2008</p> 
                                <img class="bd-placeholder-img rounded" src="{% static 'images/reward/reward_4.png' %}" alt="reward Image" width="200" height="200">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>ISO 17025:2007</p> 
                                <img class="bd-placeholder-img rounded" src="{% static 'images/reward/reward_51.png' %}" alt="reward Image" width="200" height="200">
                                <br>
                                <img class="bd-placeholder-img rounded" src="{% static 'images/reward/reward_52.png' %}" alt="reward Image" width="200" height="100">
                            </td>
                            <td>
                                <p>ISO 9001:2008</p> 
                                <img class="bd-placeholder-img rounded" src="{% static 'images/reward/reward_61.png' %}" alt="reward Image" width="200" height="200">
                                <br>
                                <img class="bd-placeholder-img rounded" src="{% static 'images/reward/reward_62.png' %}" alt="reward Image" width="200" height="100">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <footer  style="background-color: #2C9F98;">
        <div class="text-align-center mt-4">
            <h4 class="mt-4 mb-3">CỔNG THÔNG TIN ĐIỆN TỬ VIỆN TRANG THIẾT BỊ VÀ CÔNG TRÌNH Y TẾ - BỘ Y TẾ</h4>
            <h6>Trụ sở chính: Số 40 Phương Mai - Đống Đa - Hà Nội</h6>
            
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</b<>
</html>