<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static  %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'register.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'styless.css' %}">
        <link rel="icon" href="{% static 'images/logo.jpg' %}">
        <title>Đăng Ký</title>
    
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #2C9F98 !important; margin-top: 0; padding-top: 0;">
            <div class="container-fluid " style=" height: 50px;">
                <a class="navbar-brand color-01 ms-4" href="{% url 'homepage' %}">NIMEC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse ms-auto" id="navbarTogglerDemo01">
                    <div class="ms-auto">
                        <button type="button" class="btn btn-outline-primary custom-01">
                            <a href="{% url 'login' %}" class="alert-link no-underline">Đăng Nhập</a>
                        </button>
                    </div>
                </div>
            </div>
        </nav>

        <header>
            <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
                <div class="col-md-3 custom-bg-color1 border01 text-center" style="width: 40%; background-color: #ffff !important; border: 2px solid black;">
                    <form method="POST" action="{% url 'register' %}" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <span class="title-home alert-link font-size03">Đăng Ký</span>
                        <div class="container">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <input class="form-control mb-0 mt-3 shadow-sm border-01" name="lastName" type="text" placeholder="Họ" required value="{{ input_data.lastName|default:'' }}">
                                    {% if error_messages.lastName %}
                                        <div class="text-danger text-start">{{ error_messages.firstName }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control mb-0 mt-3 shadow-sm border-01" name="firstName" type="text" placeholder="Tên" required value="{{ input_data.firstName|default:'' }}">
                                    {% if error_messages.firstName %}
                                        <div class="text-danger text-start">{{ error_messages.firstName }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <input class="form-control shadow-sm border-01" name="email" type="email" placeholder="Email" required value="{{ input_data.email|default:'' }}">
                            {% if error_messages.email %}
                                <div class="text-danger text-start">{{ error_messages.email }}</div>
                            {% endif %}

                            <input class="form-control mt-3 shadow-sm border-01" name="phoneNumber" type="tel" placeholder="Số Điện Thoại" required value="{{ input_data.phoneNumber|default:'' }}">
                            {% if error_messages.phoneNumber %}
                                <div class="text-danger text-start">{{ error_messages.phoneNumber }}</div>
                            {% endif %}

                            <input type="hidden" name="object" value="Học Viên">

                            <input class="form-control mt-3 shadow-sm border-01" name="password" type="password" placeholder="Mật Khẩu" required>
                            {% if error_messages.password %}
                                <div class="text-danger text-start">{{ error_messages.password }}</div>
                            {% endif %}

                            <input class="form-control mt-3 shadow-sm border-01" name="confirmPassword" type="password" placeholder="Xác Nhận Mật Khẩu" required>
                            {% if error_messages.confirmPassword %}
                                <div class="text-danger text-start">{{ error_messages.confirmPassword }}</div>
                            {% endif %}
                        </div>
            
                        <div class="d-grid gap-2 col-10 mx-auto mt-3">
                            <button class="btn btn-primary alert-link" type="submit" style="background-color: #2C9F98 !important;">Đăng Ký</button>
                        </div>
            
                        <p class="font-size06 color-04 mt-3 text-center">
                            Đã có tài khoản?
                            <a href="{% url 'login' %}" class="alert-link no-underline color01"> Đăng nhập</a>
                        </p>
                    </form>
                </div>
            </div>
        </header>

        <script>
            (function () {
                'use strict'
                var forms = document.querySelectorAll('.needs-validation')
                Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }
            
                            form.classList.add('was-validated')
                        }, false)
                    })
            })()
        </script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>   
    </div>
</header>