<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static  %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'register.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="icon" href="{% static 'images/logo.jpg' %}">
        <title>Đăng Ký</title>
    
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary"  style="margin-top: 0; padding-top: 0;">
                <div class="container-fluid custom-02" style="height: 55px;">
                    <a class="navbar-brand color-01" href="#">Viện trang thiết bị và công trình y tế</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse ms-auto" id="navbarTogglerDemo01">
                        <div class="ms-auto">
                            <button type="button" class="btn btn-outline-primary custom-01">Đăng nhập</button>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- <div class="row g-0 text-center">
                <div class="col-md-3 custom-bg-color1 offset-3" style="border-radius: 15px; padding: 10px;">
                    <span class="title-home alert-link text-align-center font-size03">Đăng Ký</span>
                    <form method="post">
                        {% csrf_token %}
                        
                        {% if error_messages %}
                            <ul class="error-messages">
                                {% for field, error in error_messages.items %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        
                        <div class="container">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <input class="form-control mb-0 mt-3 shadow-sm" name="firstName" type="text" placeholder="Họ" value="{{ input_data.firstName }}">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control mb-0 mt-3 shadow-sm" name="lastName" type="text" placeholder="Tên" value="{{ input_data.lastName }}">
                                </div>
                            </div>

                            <input class="form-control mb-3 shadow-sm" name="doctorID" type="number" placeholder="Mã Bác Sĩ" value="{{ input_data.doctorID }}">
                            <input class="form-control mb-3 shadow-sm" name="email" type="text" placeholder="Email" value="{{ input_data.email }}">
                            <input class="form-control mb-3 shadow-sm" name="phoneNumber" type="number" placeholder="Số Điện Thoại" value="{{ input_data.phoneNumber }}">
                            <select class="form-control mb-3 shadow-sm" name="expertise">
                                <option value="expertise" disabled hidden>Chọn Chuyên Môn</option>
                                <option value="general_practitioner" {% if input_data.expertise == 'general_practitioner' %}selected{% endif %}>Bác Sĩ Đa Khoa</option>
                                <option value="endocrinologist" {% if input_data.expertise == 'endocrinologist' %}selected{% endif %}>Bác Sĩ Nội Tiết</option>
                                <option value="nutritionist" {% if input_data.expertise == 'nutritionist' %}selected{% endif %}>Bác Sĩ Dinh Dưỡng</option>
                                <option value="cardiologist" {% if input_data.expertise == 'cardiologist' %}selected{% endif %}>Bác Sĩ Tim Mạch</option>
                            </select>
                            <input class="form-control mb-3 shadow-sm" name="password" type="password" placeholder="Mật Khẩu" value="{{ input_data.password }}">
                            <input class="form-control mb-3 shadow-sm" name="confirmPassword" type="password" placeholder="Xác Nhận Mật Khẩu" value="{{ input_data.confirmPassword }}">
                        </div>
                        
                        <div class="d-grid gap-2 col-10 mx-auto">
                            <button class="btn btn-primary title-home alert-link" type="submit" style="background-color: #FF4D4D !important;">Đăng Ký</button>
                        </div>
                    </form>
                    <p class="font-size04">
                        Đã có tài khoản?
                        <a href="/login/" class="alert-link no-underline color01"> Đăng nhập</a>
                    </p>
                </div>
            </div> -->
        </header>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>   
    </div>
</header>