<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static  %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'styless.css' %}">
        <link rel="icon" href="{% static 'images/logo.jpg' %}">
        <title>Đào Tạo</title>
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #2C9F98 !important; margin-top: 0; padding-top: 0;">
            <div class="container-fluid " style=" height: 50px;">
                <a class="navbar-brand color-01 ms-4" href="#">NIMEC</a>
                {% if user.is_authenticated %}
                <div class="nav-item">
                    <button type="button" class="btn btn-outline-primary custom-01">
                        <a href="{% url 'logout' %}" class="alert-link no-underline">Đăng xuất</a>
                    </button>
                </div>
                {% else %}
                <div class="nav-item">
                    <button type="button" class="btn btn-outline-primary custom-01">
                        <a href="{% url 'register' %}" class="alert-link no-underline">Đăng Ký</a>
                    </button>
    
                    <button type="button" class="btn btn-outline-primary custom-01">
                        <a href="{% url 'login' %}" class="alert-link no-underline">Đăng Nhập</a>
                    </button>
                </div>
                {% endif %}
            </div>
        </nav>
    
        <header>
            <div class="container  position-relative">
                <img src=" {% static 'images/slide/backgrounds.jpg' %}" class="d-block w-100" alt="First slide" width="800" height="300">
                <div class="carousel-caption d-flex justify-content-center align-items-center text-center">
                    <div>
                        <h4 class="font-weight04">VIỆN TRANG THIẾT BỊ VÀ CÔNG TRÌNH Y TẾ</h4>
                        <h3 class="font-weight04">TRUNG TÂM ĐÀO TẠO</h3>
                    </div>
                </div>
            </div>
            <div class="container text-center color-03 mt-2" style="padding: 8px;">
                <div class="row row-cols-4 font-weight03 fs-5">
                    <div class="col custom-border d-flex justify-content-center align-items-center">
                        <div class="dropdown">
                            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="font-weight03 fs-5">Giới Thiệu</div>
                                
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="{% url 'institute_introduction' %}">Giới Thiệu Viện</a></li>
                              <li><a class="dropdown-item" href="{% url 'functions_duties' %}">Chức năng & Nhiệm vụ của Viện</a></li>
                              <li><a class="dropdown-item" href="{% url 'institute_leadership' %}">Đảng ủy - Lãnh đạo Viện</a></li>
                              <li><a class="dropdown-item" href="{% url 'organizational_structure' %}">Cơ cấu Tổ chức Viện</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col custom-border d-flex justify-content-center align-items-center">
                        <a href="{% url 'tranning' %}" class="text-decoration-none color-04">
                            Đào Tạo
                        </a>
                    </div>
                    <div class="col custom-border d-flex justify-content-center align-items-center">
                        <a href="{% url 'news_list' %}" class="text-decoration-none color-04">
                            Tin Tức
                        </a>
                    </div>
                    <div class="col d-flex justify-content-center align-items-center">
                        <a href="{% url 'library' %}" class="text-decoration-none color-04">
                            Thư Viện
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <section>
            <div class="container custom-03 mt-3 mb-4 border-01">
                <br>
                <h2 class="text-align-center color-02 mt-4">THÊM KHÓA HỌC</h2>
                <div class="container mt-3 ms-4">
                    <form method="post" enctype="multipart/form-data" action="{% url 'add_tranning' %}" class="needs-validation" novalidate>
                        {% csrf_token %}
        
                        <!-- Tên Khóa Học -->
                        <div class="row align-items-center mb-3">
                            <div class="col-4">
                                <h4 class="fw-bold">Tên Khóa học:</h4>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control w-75 border-01" placeholder="Nhập tên khóa học" name="course_name" value="{{ input_data.course_name }}" required>
                                {% if error_messages.course_name %}
                                    <div class="invalid-feedback">{{ error_messages.course_name }}</div>
                                {% endif %}
                            </div>
                        </div>
        
                        <!-- Các trường khác -->
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <h5 class="mb-4">Mã khóa học:</h5>
                                <h5 class="mb-4">Thời lượng khóa học:</h5>
                                <h5 class="mb-4">Lịch học:</h5>
                                <h5 class="mb-4">Học Phí:</h5>
                                <h5 class="mb-4">Đối tượng học:</h5>
                                <h5 class="mb-4">Link zalo khóa học:</h5>
                                <h5 class="mb-4">Hình ảnh khóa học:</h5>
                                <div class="input-group">
                                    <input type="file" class="form-control" id="inputGroupFile04" aria-label="Upload" accept="image/*" name="image_tranning" required>
                                    {% if error_messages.image_tranning %}
                                        <div class="invalid-feedback">{{ error_messages.image_tranning }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control mb-2 w-75 border-01" placeholder="Nhập mã khóa học" name="course_code" value="{{ input_data.course_code }}" required>
                                {% if error_messages.course_code %}
                                    <div class="invalid-feedback">{{ error_messages.course_code }}</div>
                                {% endif %}
                                <input type="text" class="form-control mb-2 w-75 border-01" placeholder="Nhập thời lượng khóa học" name="course_duration" value="{{ input_data.course_duration }}" required>
                                {% if error_messages.course_duration %}
                                    <div class="invalid-feedback">{{ error_messages.course_duration }}</div>
                                {% endif %}
                                <input type="date" class="form-control mb-2 w-75 border-01" placeholder="Nhập lịch học" name="schedule" value="{{ input_data.schedule }}" required>
                                {% if error_messages.schedule %}
                                    <div class="invalid-feedback">{{ error_messages.schedule }}</div>
                                {% endif %}
                                <input type="text" class="form-control mb-2 w-75 border-01" placeholder="Nhập học phí" name="tuition_fee" value="{{ input_data.tuition_fee }}" required>
                                {% if error_messages.tuition_fee %}
                                    <div class="invalid-feedback">{{ error_messages.tuition_fee }}</div>
                                {% endif %}
                                <input type="text" class="form-control mb-2 w-75 border-01" placeholder="Nhập đối tượng học" name="target_audience" value="{{ input_data.target_audience }}" required>
                                {% if error_messages.target_audience %}
                                    <div class="invalid-feedback">{{ error_messages.target_audience }}</div>
                                {% endif %}
                                <input type="text" class="form-control mb-2 w-75 border-01" placeholder="Nhập link Zalo khóa học" name="link" value="{{ input_data.link }}" required>
                                {% if error_messages.link %}
                                    <div class="invalid-feedback">{{ error_messages.link }}</div>
                                {% endif %}
                            </div>
                        </div>
        
                        <!-- Giảng Viên -->
                        <h4 class="fw-bold mb-4">Giảng viên</h4>
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <h5 class="mb-4">Họ và Tên:</h5>
                                <h5 class="mb-4">Chuyên Ngành:</h5>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control mb-2 w-75 border-01" placeholder="Nhập tên giảng viên" name="full_name" value="{{ input_data.full_name }}" required>
                                {% if error_messages.full_name %}
                                    <div class="invalid-feedback">{{ error_messages.full_name }}</div>
                                {% endif %}
                                <input type="text" class="form-control mb-2 w-75 border-01" placeholder="Nhập chuyên ngành" name="major" value="{{ input_data.major }}" required>
                                {% if error_messages.major %}
                                    <div class="invalid-feedback">{{ error_messages.major }}</div>
                                {% endif %}
                            </div>
                        </div>
        
                        <div class="row mb-3 me-4">
                            <div class="col-md-3 text-center">
                                <img id="lecturerPreview" src="https://via.placeholder.com/150x200" class="img-thumbnail" alt="Lecturer Image" width="150" height="200">
                                <div class="input-group mt-3 mb-3">
                                    <input type="file" class="form-control" id="inputGroupFile05" aria-label="Upload" accept="image/*" name="image_lecturer" required onchange="previewLecturerImage(event)">
                                    {% if error_messages.image_lecturer %}
                                        <div class="invalid-feedback">{{ error_messages.image_lecturer }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-9 d-flex align-items-center">
                                <textarea class="form-control border-01" rows="10" placeholder="Mô tả chi tiết (Kinh nghiệm, cam kết...)" name="course_description" required>{{ input_data.course_description }}</textarea>
                                {% if error_messages.course_description %}
                                    <div class="invalid-feedback">{{ error_messages.course_description }}</div>
                                {% endif %}
                            </div>
                        </div>
        
                        <!-- Mô tả khóa học -->
                        <div class="row mb-4 me-4">
                            <div class="col-md-12">
                                <h5>Mô tả khóa học:</h5>
                                <textarea class="form-control border-01" rows="7" placeholder="Nhập mô tả khóa học" name="detailed_description" required>{{ input_data.detailed_description }}</textarea>
                                {% if error_messages.detailed_description %}
                                    <div class="invalid-feedback">{{ error_messages.detailed_description }}</div>
                                {% endif %}
                            </div>
                        </div>
        
                        <!-- Nút Thêm Khóa Học -->
                        <div class="text-center mb-5 mt-5">
                            <button class="btn btn-primary alert-link w-25" type="submit" style="background-color: #2C9F98 !important;">Thêm khóa học</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        
        <footer >
            <div class="mt-3" style="background-color: lightblue;">
                <br>
                <div class="text-align-center" >
                    <h4>CỔNG THÔNG TIN ĐIỆN TỬ VIỆN TRANG THIẾT BỊ VÀ CÔNG TRÌNH Y TẾ - BỘ Y TẾ</h4>
                    <h6>Trụ sở chính: Số 40 Phương Mai - Đống Đa - Hà Nội</h6>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-6" style="text-align: right;">
                            <h6>Website: <a href="http://www.nimec.gov.vn">http://www.nimec.gov.vn</a> </h6>
                            <h6>ĐT: <a href="tel:+8485283065">(84-04) 3852 3065</a></h6>
                        </div>
                        <div class="col-6">
                            <h6>Email: <a href="mailto:nimec40pm@moh.gov.vn">nimec40pm@moh.gov.vn</a></h6>
                            <h6>Fax: <a href="tel:+8485283065">(84-04) 3852 3065</a></h6>
                        </div>
                    </div>
                </div>
            </div>
            
            <div style="background-color: #2C9F98;">
                <br>
            </div>
        </footer>

        <script>
            function previewLecturerImage(event) {
                var output = document.getElementById('lecturerPreview');
                output.src = URL.createObjectURL(event.target.files[0]);
                output.onload = function() {
                    URL.revokeObjectURL(output.src)
                }
            }
        </script>

        <script>
            (function () {
                'use strict';
                var forms = document.querySelectorAll('.needs-validation');

                Array.prototype.slice.call(forms).forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add('was-validated');
                    }, false);
                });
            })();
        </script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>